.mainHov:hover .cldHov {
  display: inline-flex !important ;
}

.mainHov:hover .imgHeight {
  @apply h-52;
}

.cldHov {
  display: none !important;

  @apply btn btn-primary;
}

.insPrt:hover .insShow {
  display: flex;
  background-color: rgba(191, 191, 191, 0.8);
}
.insShow {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
